<% content_for :btn_boot, "/" %>
<% content_for :btn_u, "load?input=u" %>
<% content_for :btn_d, "load?input=d" %>
<% content_for :btn_a, "read" %>
<% content_for :btn_b, "save" %>

<% content_for :btn_start, "read"%>
<% content_for :btn_select, $selected["mode"] == 'game' ? "game" : "on"  %>

<table style="width : 90%; height : 90%; border-spacing : 5px 10px; z-index : 3; position : relative; margin : auto; bottom : 5px;">

  <tr style="height : 33%; <%= 'background-color : rgba(0, 128, 196, 0.7);' if $view["fd"] == 0 %> text-align : center;">
    <td style = "border : 2px solid black;">slot A</td>
  </tr>

  <tr style="height : 33%; <%= 'background-color : rgba(196, 0, 128, 0.7);' if $view["fd"] == 1 %> text-align : center;">
    <td style = "border : 2px solid black;">slot B</td>
  </tr>

  <tr style="height : 33%; <%= 'background-color : rgba(196, 128, 0, 0.7);' if $view["fd"] == 2 %> text-align : center;">
    <td style = "border : 2px solid black;">slot C</td>
  </tr>

</table>
<div style="display : inline; width : 410px; height : 275px; position : absolute; left : 10px; top : 220px; <%='display : none;' if $selected["power"] != 1 %>">
      <h4 style = "float : left; color : #AAA">[A] Load &nbsp;&nbsp; [B] Save </h4>
      <h4 style = "float : right; position : relative; left : -20px; color : AAA;">[select] Back</h4>
</div>
