			  <map name="button" id="button">
				  <area target="" id="btn-up" href="{{ request.path }}?key-up" coords="123,185,162,223" shape="rect">
				  <area target="" id="btn-down" href="{{ request.path }}?key-down" coords="119,262,161,305" shape="rect">
				  <area target="" id ="btn-left" href="{{ request.path }}?key-left" coords="81,226,121,262" shape="rect">
				  <area target="" id="btn-right" href="{{ request.path }}?key-right" coords="200,226,162,262" shape="rect">
				  <area target="" alt="" id="btn-a" href="{{ request.path }}?key-a" coords="867,226,31" shape="circle">
				  <area target="" id="btn-b" href="{{ request.path }}?key-b" coords="782,256,30" shape="circle">
				  <area target="" id="btn-start" href="{{ request.path }}?key-start" coords="111,349,125,338,211,361,218,378,209,387,192,388,115,367" shape="poly">
				  <area target="" id="bnt-select" href="{{ request.path }}?key-select" coords="111,401,126,393,213,413,220,427,213,438,199,441,114,420" shape="poly">
				  <area target="" id="btn-boot" href="{{ request.path }}?key-boot" coords="774,102,869,127" shape="rect">

