<% if $player["caught_movie_dex"].length == 0 %>
    <% content_for :btn_l, "/on" %>
    <% content_for :btn_r, "/on" %>
<% elsif $player["caught_movie_dex"].length != 0 %>
    <% content_for :btn_l, "/moviedex?btn=l" %>
    <% content_for :btn_r, "/moviedex?btn=r" %>
<% end %>

<% content_for :btn_boot, "/" %>
<% content_for :btn_start, "/game" %>
<% content_for :btn_select, "/load" %>

<div style="display : inline; width : 410px; height : 275px; position : absolute; left : 10px; top : 220px; <%='display : none;' if $selected["power"] != 1 %>">
      <h1 style="position : absolute; left : 10px; top : -220px; font-size : 36pt; transform : rotate(-20deg);">MovieMon</h1>
      <h4 style = "float : left; color : #AAA">[start] new game!</h4>
      <h4 style = "float : right; position : relative; left : -20px; color : AAA;">[select] Load</h4>
    </div>

